
PX = (1/16)rem
gs = 10*PX

rect()
  width  arguments
  height arguments
nw()
  top  arguments
  left arguments
circle()
  rect arguments
  border-radius 50%

easy-click()
  &:after
    content ''
    position absolute
    rect 200%
    z-index 1
    nw -50%

body
  background #28143f
  font-size 16px
  margin  0
  padding 0
  user-select none
  overflow hidden
  font-family Open Sans, sans-serif
  // perspective 1000px
  // &::-webkit-scrollbar
  //   overflow -moz-scrollbars-none !important
  //   display none !important
  //   -ms-overflow-style none !important
  //   width 0 !important
   
// .element
//   border 1px solid hotpink
//   padding 40px
//   position absolute
//   color white
//   transform translate(50%, 50%)
// .element-parent
//   transform translate3d(0%, 0%,0)

.curtain
  rect 100%
  position fixed
  nw 0
  background rgba(#28143f, 1)
  z-index 30
  opacity 1
  transition all .8s ease-out
  procWidth = 150
  &__progress
    height 2*PX
    width  procWidth*PX
    border-radius 4*PX
    background white
    position absolute
    nw 50%
    margin-left -(procWidth/2)*PX
    margin-top  - PX
    transition width .3s ease-out
  &__progress-text,
  &__progress-text-gradient
    position absolute
    color white
    font-size 10*PX
    font-weight 100
    letter-spacing 1.4*PX
    position absolute
    margin-left -(procWidth/2)*PX
    margin-top  -2*gs
    nw 50%
  &__progress-text-gradient
    width  1.5*procWidth*PX
    height 16*PX
    // border 1px solid red
    z-index 1
    transition transform .3s ease-out
    background linear-gradient(to right, rgba(40,18,64,0) 20%,rgba(40,18,64,1) 50%)
  &.is-hide
    opacity 0
    z-index 0

.badge
  position fixed
  nw 0
  z-index 10
  color white
  
.wrapper
  position    absolute
  z-index     1
  top         0
  bottom      0
  left        0
  right       0
  width       100%
  overflow    hidden
    
.particles
  perspective 500px
  perspective-origin 50% 50%
  overflow visible
  position relative
  user-select none
  
  position absolute
  z-index 1
  tap-highlight-color rgba(0,0,0,0)
  // width 2000px
  transform translateZ(0)
  user-select none
  text-size-adjust none
  // background #fff

particleSize = 150/2
contentWidth  = 540
contentHeight = 280
{el = '.particle'}
  rect 2*particleSize*PX
  position absolute
  nw 0
  text-align center
  display block
  // overflow hidden
  line-height (2*particleSize)*PX
  &.is-open
    z-index 20
    {el}__inner
      transform scale(15) translateZ(-1000px)
    {el}__content
      display block
  &__inner
    circle 100%
    position absolute
    nw 0
  &__content
    display none

// svg
//   border 2px solid red !important

.content
  position      fixed
  width         contentWidth*PX
  height        contentHeight*PX
  display       block
  margin-left  -(contentWidth/2)*PX
  margin-top   -(contentHeight/2)*PX
  // border        1px solid white
  z-index       0
  nw            50%
  // opacity       0
  transform     translateZ(0)
  // display       none
  &__inner
    position absolute
    rect 100%
  &__dust-wrapper
    // border 2px solid white
    position    absolute
    top         220px
    width       240px
    height      60px
    overflow    hidden
    z-index     2
    
  &.is-show
    display     block

.project
  color white
  position relative
  rect 100%
  // border 1px solid white
  &__text, 
  &__img
    position absolute
    width 50%
    height 100%
  &__text
    left 57%
    margin-top 3*gs
    width 40%
    text-align left
    line-height 1.6
  h2
    text-transform uppercase
  // &__dust-wrap
  //   // border 2px solid white
  //   position    absolute
  //   top         220px
  //   width       240px
  //   height      60px
  //   overflow    hidden
  //   z-index     1
  &__shadow-wrap
    transform-origin 100% center
  &__shadow
    position absolute
    width 300px
    height 50px
    opacity 0
    top 204px
    right 8px
    transform rotateX(80deg)
    border-radius 26px
    background linear-gradient(to right, rgba(58,8,57,0) 0%,rgba(58,8,57,0.65) 100%)
    transform-origin 100% center
    // box-shadow 0 0 150px #333


// {el = '.blob-circle1'}
//   box-sizing border-box
//   position absolute
//   rect 200*PX
//   overflow hidden
//   outline 1px solid orange
//   mask-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC');
//   // perspective 1000px
//   &.is-run
//     // transform scale(2)
//     transform translateZ(200px) translateX(50%)
//     transition transform 2s linear
//     {el}__inner
//       // transform translateZ(300px) translateX(-50%) translateY(-50%)
//       transform translate(-50%, -50%) scale(1.04)
//       transition transform 2s linear
//   &__inner
//     box-sizing border-box
//     border 3px solid white
//     rect 100%
//     position absolute
//     nw 50%
//     transform translate(-50%, -50%) scale(1)
    

blobSize = 30
.blob-circle
  box-sizing    border-box
  border        10px solid white
  circle        (blobSize)px
  position      absolute
  nw            -50%
  z-index       1
  display       none// !important

.blob-circle-wrap
  width   0px
  height  0px
  overflow hidden

.close
  position fixed
  circle 30*PX
  top  20%
  left -10%
  z-index -1
  // opacity 0
  transition opacity .25s ease-out
  display none
  &:hover
    cursor pointer
  &.is-show
    display block
    opacity 1
    left 75%
    z-index 10
  // &__inner
  //   position absolute
  //   circle 50*PX
  //   border 2px solid white
  //   transform translate(-50%, -50%)
  //   nw 50%

@import './css-assets/img.styl'


