body {
  background: #333;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
/* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
body::-webkit-scrollbar {
  overflow: -moz-scrollbars-none !important;
  display: none !important;
  -ms-overflow-style: none !important;
  width: 0 !important;
}
.particles {
  overflow: visible;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
/* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
}
.particle {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.center {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4.6875rem;
  margin-top: -4.6875rem;
  background: url("http://iconmelon.com/css/i/legomushroom.png") no-repeat center center;
  background-size: 100%;
  border: 0.0625rem solid #ff1493;
}
